.main{
  flex:65%;
  padding: 10vh 8vw;
  font-size: 25px;
  color: #847d7d;
  /*line-height: 25px;*/ 
}


.main a {
    color: #6f6567;
    text-decoration: none;
    font-size: 20px;
}.main a:hover{ color: #f9b4c4; transition : 0.1s;}


 
.photo{
   max-width: 1500px; 
   display: block; 
   margin-left: auto;
   margin-right: auto;
   }